{% extends "loggedin_base.html" %}
{% load i18n static %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% block content %}

<div class="row">
	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <div class="x_panel tile ">
	      	<div class="x_title">
	      	{% if form %}
		        <center><h2>Compose Message</h2></center>
		       
		        <div class="clearfix"></div>
		    </div>
		    <div class="x_content">
		       
		        <form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
		        
		        <table>
				{{ form.as_table }}
				</table>
				<input type="submit" value="{% trans 'Send' %}"/>
				</form></center> 
	        
	      	</div>
	    </div>
	  </div>

	  <div class="col-md-6 col-sm-6 col-xs-12">
	    <div class="x_panel tile fixed_height_320 overflow_hidden">
	      <div class="x_title">
	        <h2>Recipients:</h2>
	        
	        <div class="clearfix"></div>
	      </div>
		    <div class="x_content">
		              
			{% if messages %}
					<div class="alert alert-info col-md-12 col-sm-12 col-sm-12 col-xs-12">
					 {% for message in messages %}
					        {% if message.tags %} {% endif %}
					            <center>{{ message }}</center>
					    {% endfor %}
					</div>
			{% endif %}

		    <ul class="list-unstyled user_data">
		      <li>
		        <i class="fa fa-briefcase user-profile-icon"></i> 
		        
		        Trainer: <b>{{trainer}}</b>
		      </li>
		      <li>
		        <i class="fa fa-clock-o user-profile-icon"></i> 
		        Nutritionist/Dietician: <b>{{nutritionist}}</b>
		      </li>
		      <li>
		        <i class="fa fa-users user-profile-icon"></i> 
		        Suppliment Expert: <b>{{supplimentexpert}}</b>
		      </li>

		      

		      <li class="m-top-xs">
		        <i class="fa fa-external-link user-profile-icon"></i>
		        Helpdesk Team: <b>{{contact}}</b>
		      </li>
		      
		    </ul>
	       
	      </div>
	    </div>
	  </div>   

	</div>







<div class="row">
<div class="main_container">
  	
		
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
        <div class="profile_img">
	        <div class="avatar-view" title="{{trainer}}">
	          <img src="{{trainerprofilepic}}" alt="Avatar" align="middle">
	        </div>
        <!-- Loading state -->
        	<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

    	</div>
    	
    	

    	<ul class="list-unstyled user_data">

	    	<li class="m-top-xs">
		        <i class="fa fa-suitcase user-profile-icon"></i>
		        <b>Designation: Fitness Trainer</b>
		    </li>
	     	

		    <li>
		       <i class="fa fa-at user-profile-icon"></i> 
		        <b>Receipient: {{trainer}}</b>
		    </li>
		    <li><i class="fa fa-info user-profile-icon"></i> Age: {{trainer_age}}, Gender: {{trainer_gender}}
	     	</li>

		    <li class="m-top-xs">
		       <i class="fa fa-external-link user-profile-icon"></i>
		       About: {{trainer_about}}
		    </li>
	    </ul>
	    <br />
    </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="profile_img">
	        <div class="avatar-view" title="{{nutritionist}}">
	          <img src="{{nutritionistprofilepic}}" alt="Avatar" align="middle">
	        </div>
        <!-- Loading state -->
        	<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

    	</div>
    	<ul class="list-unstyled user_data">

	    	<li class="m-top-xs">
		        <i class="fa fa-suitcase user-profile-icon"></i>
		        <b>Designation: Nutritionist/Dietician</b>
		    </li>
	     	

		    <li>
		       <i class="fa fa-at user-profile-icon"></i> 
		       <b> Receipient: {{nutritionist}}</b>
		    </li>
		    <li><i class="fa fa-info user-profile-icon"></i> Age: {{nutritionist_age}}, Gender: {{nutritionist_gender}}
	     	</li>

		    <li class="m-top-xs">
		       <i class="fa fa-external-link user-profile-icon"></i>
		       About: {{nutritionist_about}}
		    </li>
	    </ul>

	    
	    <br />
    </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="profile_img">
	        <div class="avatar-view" title="Avatar">
	          <img src="{{supplimentexpertprofilepic}}" alt="Avatar" align="middle">
	        </div>
        <!-- Loading state -->
        	<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

    	</div>
    	<ul class="list-unstyled user_data">

	    	<li class="m-top-xs">
		        <i class="fa fa-suitcase user-profile-icon"></i>
		        <b>Designation: Suppliment Expert</b>
		    </li>
	     	

		    <li>
		       <i class="fa fa-at user-profile-icon"></i> 
		        <b>Receipient: {{supplimentexpert}}</b>
		    </li>
		    <li><i class="fa fa-info user-profile-icon"></i> Age: {{supplimentexpert_age}}, Gender: {{supplimentexpert_gender}}
	     	</li>

		    <li class="m-top-xs">
		       <i class="fa fa-external-link user-profile-icon"></i>
		       About: {{supplimentexpert_about}}
		    </li>
	    </ul>

	    
	    <br />
    </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="profile_img">
	        <div class="avatar-view" title="Avatar">
	          <img src="{{contactprofilepic}}" alt="Avatar" align="middle">
	        </div>
        <!-- Loading state -->
        	<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

    	</div>
    	<ul class="list-unstyled user_data">

	    	<li class="m-top-xs">
		        <i class="fa fa-suitcase user-profile-icon"></i>
		        <b>Designation: Helpdesk Team</b>
		    </li>
	     	

		    <li>
		       <i class="fa fa-at user-profile-icon"></i> 
		        <b>Receipient: {{contact}}</b>
		    </li>
		    <li><i class="fa fa-info user-profile-icon"></i> Age: {{contact_age}}, Gender: {{contact_gender}}
	     	</li>

		    <li class="m-top-xs">
		       <i class="fa fa-external-link user-profile-icon"></i>
		       About: {{contact_about}}
		    </li>
	    </ul>

	    
	    <br />
    </div>
</div>

  </div>
</div>
	
{% else %}
<div class="row">
	  	<div class="alert alert-info animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    	{% if messages %}
			
			 {% for message in messages %}
			        {% if message.tags %} {% endif %}
			            <center>{{ message }}</center>
			    {% endfor %}
			</div>
	{% endif %}
</div>

{% endif %}
{% endblock %}