{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<section id="content">

			<div class="content-wrap nopadding">

				<div id="section-about" class="center page-section">

					<div class="container clearfix">

						<h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">Thank You. Stay Fit.</h2>

						<p class="lead divcenter bottommargin" style="max-width: 800px;">Logged Out Successfully.</p>

						<a href="/accounts/login"><button type="submit" class="button button-dark button-3d button-rounded btn-block nomargin" value="submit"><i class="icon-email2"></i> Login </button></a><br><br>
							<a href="/"><button type="submit" class="button button-dark button-3d button-rounded btn-block nomargin" value="submit"><i class="icon-ok"></i> Home </button></a>


					</div>

				

				</div>

			</div>

		</section><!-- #content end -->
<!-- 
<p>{% trans "Logged out" %}</p> -->
{% endblock %}
