{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

				<div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Password Reset</div>
				<div class="acc_content clearfix">
					<form method="post" action=".">
					  {% csrf_token %} 
					  {{ form.as_p }}

					  <input type="submit" value="{% trans 'Submit' %}" />
					</form>
				</div>

				
			</div>
		</div>
	</div>
</section><!-- #content end -->



{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
