{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block content %}
<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						<ul id="portfolio-filter" class="portfolio-filter clearfix">

							<li class="activeFilter"><a href="#" data-filter="all">All</a></li>
							<li><a href="#" data-filter=".faq-marketplace">Marketplace</a></li>
							<li><a href="#" data-filter=".faq-authors">Authors</a></li>
							<li><a href="#" data-filter=".faq-legal">Legal</a></li>
							<li><a href="#" data-filter=".faq-itemdiscussion">Item Discussion</a></li>
							<li><a href="#" data-filter=".faq-affiliates">Affiliates</a></li>
							<li><a href="#" data-filter=".faq-miscellaneous">Miscellaneous</a></li>

						</ul>

						<div class="clear"></div>

						<div id="faqs" class="faqs">

							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-question-sign"></i><i class="toggle-open icon-question-sign"></i>How do I become an author?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-authors faq-miscellaneous">
								<div class="togglet"><i class="toggle-closed icon-comments-alt"></i><i class="toggle-open icon-comments-alt"></i>Helpful Resources for Authors</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-miscellaneous">
								<div class="togglet"><i class="toggle-closed icon-lock3"></i><i class="toggle-open icon-lock3"></i>How much money can I make?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-authors faq-legal faq-itemdiscussion">
								<div class="togglet"><i class="toggle-closed icon-download-alt"></i><i class="toggle-open icon-download-alt"></i>Can I offer my items for free on a promotional basis?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-marketplace faq-authors">
								<div class="togglet"><i class="toggle-closed icon-ok"></i><i class="toggle-open icon-ok"></i>An Introduction to the Marketplaces for Authors</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-affiliates faq-miscellaneous">
								<div class="togglet"><i class="toggle-closed icon-money"></i><i class="toggle-open icon-money"></i>How does the Tuts+ Premium affiliate program work?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-legal faq-itemdiscussion">
								<div class="togglet"><i class="toggle-closed icon-picture"></i><i class="toggle-open icon-picture"></i>What Images, Videos, Code or Music Can I Use in my Items?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-legal faq-authors faq-itemdiscussion">
								<div class="togglet"><i class="toggle-closed icon-file3"></i><i class="toggle-open icon-file3"></i>Can I use trademarked names in my items?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-affiliates">
								<div class="togglet"><i class="toggle-closed icon-bar-chart"></i><i class="toggle-open icon-bar-chart"></i>Tips for Increasing Your Referral Income</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-authors faq-itemdiscussion">
								<div class="togglet"><i class="toggle-closed icon-phone3"></i><i class="toggle-open icon-phone3"></i>How can I get support for an item which isn't working correctly?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle faq faq-marketplace faq-itemdiscussion">
								<div class="togglet"><i class="toggle-closed icon-credit"></i><i class="toggle-open icon-credit"></i>How do I pay for items on the Marketplaces?</div>
								<div class="togglec">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
							</div>

						</div>


					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="widget widget_links clearfix">

								<h4>Pages</h4>
								<ul>
									<li><a href="#"><div>About Us</div></a></li>
									<li><a href="#"><div>About Us - Layout 2</div></a></li>
									<li><a href="#"><div>About Me</div></a></li>
									<li><a href="#"><div>Team Members</div></a></li>
									<li><a href="#"><div>Careers</div></a></li>
									<li><a href="#"><div>Side Navigation</div></a></li>
									<li><a href="#"><div>Page Submenu</div></a></li>
									<li><a href="#"><div>Services - Layout 1</div></a></li>
									<li><a href="#"><div>Services - Layout 2</div></a></li>
									<li><a href="#"><div>Services - Layout 3</div></a></li>
									<li><a href="#"><div>FAQs - Layout 1</div></a></li>
									<li><a href="#"><div>FAQs - Layout 2</div></a></li>
									<li><a href="#"><div>FAQs - Layout 3</div></a></li>
									<li><a href="#"><div>FAQs - Layout 4</div></a></li>
									<li><a href="#"><div>Full Width Page</div></a></li>
									<li><a href="#"><div>Full Width - Wide Page</div></a></li>
									<li><a href="#"><div>Right Sidebar Page</div></a></li>
									<li><a href="#"><div>Left Sidebar Page</div></a></li>
									<li><a href="#"><div>Both Sidebar Page</div></a></li>
									<li><a href="#"><div>Both Right Sidebar Page</div></a></li>
									<li><a href="#"><div>Both Left Sidebar Page</div></a></li>
									<li><a href="#"><div>Maintenance Page</div></a></li>
									<li><a href="#"><div>Blank Page</div></a></li>
									<li><a href="#"><div>Sitemap</div></a></li>
									<li><a href="#"><div>Login/Register</div></a></li>
									<li><a href="#"><div>404 - Simple Layout</div></a></li>
									<li><a href="#"><div>404 - Parallax Image</div></a></li>
									<li><a href="#"><div>404 - HTML5 Video</div></a></li>
								</ul>

							</div>


						</div>
					</div><!-- .sidebar end -->

				</div>

			</div>

		</section><!-- #content end -->

{% endblock %}

