<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/images/features/bodyshapeplus_logo.png" type="image/gif" sizes="16x16">
  <title>Bodyshape Plus | </title>

  <!-- Bootstrap core CSS -->

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  <!-- Custom styling plus plugins -->
  <link href="/static/css/custom.css" rel="stylesheet">
  <link href="/static/css/icheck/flat/green.css" rel="stylesheet">


  <script src="/static/js/jquery.min.js"></script>

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><i class="fa fa-plus-circle"></i> <span>Bodyshape Plus</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <a href="/user/{{username|lower}}">
              <img src="{{profilepic}}" alt="..." class="img-circle profile_img"></a> 
              <!-- <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img"></a> -->
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2> {{username|title}}</h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>Time to Stay Fit</h3>
              <ul class="nav side-menu">
                <li><a href="/"><i class="fa fa-home"></i> Home </a>
                </li>
                <li><a><i class="fa fa-envelope"></i> Profiles <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                      <li><a href="/user/{{username|lower}}"> My Profile </a></li>
                      <li><a href="/users">Updated Profiles </a></li>
                      <li><a href="/newusers">New Users </a></li>
                  </ul>

                </li>
                <li><a><i class="fa fa-envelope"></i> Messages ({{ postman_unread_count }}) <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/messages/inbox">My Inbox ({{ postman_unread_count }}) </a>
                    </li>
                    <li><a href="/messages/write">My Trainers</a>
                    </li>
                    <li><a href="/enroll">Enroll</a>
                    </li>
                    
                    
                  </ul>
                </li>
                <li><a href="/photos"><i class="fa fa-smile-o"></i> Photos </a>
                </li>
                <li><a><i class="fa fa-edit"></i> Tracker <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/weighttracker/">Weight Tracker</a>
                    </li>
                    <li><a href="/bodytracker/">Body Tracker</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-bar-chart-o"></i> Progress Tracker <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/weightprogress">Weight Progress</a>
                    </li>
                    <li><a href="/bodyprogress">Body Progress</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-thumbs-up"></i> Exercises <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Chest</a>
                    </li>
                    <li><a href="#">Bisceps</a>
                    </li>
                    <li><a href="#">Triceps</a>
                    </li>
                    <li><a href="#">Abs</a>
                    </li>
                    <li><a href="#">Back</a>
                    </li>
                    <li><a href="#">Leg</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-table"></i> Settings <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/goalsettings/">Goal Setting</a>
                    </li>
                    <li><a href="/profilesettings/">Profile Settings</a>
                    </li>

                  </ul>
                </li>
                
              </ul>
            </div>
           

          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Facebook">
              <span class="fa fa-facebook" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Twitter">
              <span class="fa fa-twitter" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Instagram">
              <span class="fa fa-instagram" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Contact Us">
              <span class="fa fa-inbox" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
             
              <li><a href="/accounts/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
              </li>
            </ul>
              
            
        </div>

      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">

        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>{{ pagetitle }}</h3>
            </div>

            
          </div>
          <div class="clearfix"></div>

          {% block content %}
          {% endblock %}
        </div>

        <!-- footer content -->
        <!-- <footer>
          <div class="copyright-info">
            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>  
            </p>
          </div>
          <div class="clearfix"></div>
        </footer> -->
        <!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="/static/js/bootstrap.min.js"></script>
  
  <!-- bootstrap progress js -->
  <script src="/static/js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="/static/js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="/static/js/icheck/icheck.min.js"></script>

  <script src="/static/js/custom.js"></script>

  <!-- image cropping -->
  <script src="/static/js/cropping/cropper.min.js"></script>
  <script src="/static/js/cropping/main.js"></script>

  <!-- daterangepicker -->
  <script type="text/javascript" src="/static/js/moment/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/datepicker/daterangepicker.js"></script>

  <!-- chart js -->
  <script src="/static/js/chartjs/chart.min.js"></script>

  <!-- moris js -->
  <script src="/static/js/moris/raphael-min.js"></script>
  <script src="/static/js/moris/morris.min.js"></script>

  <!-- pace -->
  <script src="/static/js/pace/pace.min.js"></script>

 
  {% block scripts %}
{% endblock %}
  <!-- /datepicker -->
</body>

</html>
