{% extends "loggedin_base.html" %}

{% block content %}


<script type="text/javascript">

setTimeout(function() {
  if (location.hash) {
    window.scrollTo(0, 0);
  }
}, 1);


</script>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="">
              <h2>Body Showoff <small>Gallery</small> </h2>
          </div>
        <div>

          <div class="x_content">

            <div class="row">

              <p>Latest 5 photos</p>

              
              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <a href={{img1}}><img style="width: 100%; display: block;" src={{img1}} alt="image" /></a>
                    <div class="mask">
                      <p>{{dnt1}}</p>
                     
                    </div>
                  </div>
                  <div class="caption">
                    <center><p>{{desc1}}</p></center>
                  </div>
                  <div >
                    <center>{% if img1 != '/media/avatar.png' %}
                      <a href="delete{{img1}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    {% endif %}
                    <br>
                    </center>
                  </div>
                </div>
              </div>
              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <a href={{img2}}><img style="width: 100%; display: block;" src={{img2}} alt="image" /></a>
                    <div class="mask">
                      <p>{{dnt2}}</p>
                      
                    </div>
                  </div>
                  <div class="caption">
                    <p>{{desc2}}</p>
                  </div>
                  <div >
                    <center>{% if img2 != '/media/avatar.png' %}
                      <a href="delete{{img2}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    {% endif %}<br>
                    </center>
                  </div>
                </div>
              </div>
              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <a href={{img3}}><img style="width: 100%; display: block;" src={{img3}} alt="image" /></a>
                    <div class="mask">
                      <p>{{dnt3}}</p>
                      
                    </div>
                  </div>
                  <div class="caption">
                    <p>{{desc3}}</p>
                  </div>
                  <div >
                    <center>{% if img3 != '/media/avatar.png' %}
                      <a href="delete{{img3}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    {% endif %}<br>
                    </center>
                  </div>
                </div>
              </div>
              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <a href={{img4}}><img style="width: 100%; display: block;" src={{img4}} alt="image" /></a>
                    <div class="mask">
                      <p>{{dnt4}}</p>
                      
                    </div>
                  </div>
                  <div class="caption">
                    <p>{{desc4}}</p>
                  </div>
                  <div >
                    <center>{% if img4 != '/media/avatar.png' %}
                      <a href="delete{{img4}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    {% endif %}<br>
                    </center>
                  </div>
                </div>
              </div>


              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <a href={{img5}}><img style="width: 100%; display: block;" src={{img5}} alt="image" /></a>
                    <div class="mask">
                      <p>{{dnt5}}</p>
                    </div>
                  </div>
                  <div class="caption">
                    <p>{{desc5}}</p>
                  </div>
                  <div >
                    <center>{% if img5 != '/media/avatar.png' %}
                      <a href="delete{{img5}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    {% endif %}<br>
                    </center>
                  </div>
                </div>
              </div>
              
             </div>

          </div>

       </div>
      </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="">
              <h2>Body Showoff <small>Upload Photos</small> </h2>
          </div>
    <div>
      <center><form action="/photos/" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
      </form></center>
    </div>
    </div>
  </div>
</div>


{% endblock %}