{% block content %}
<div class="row">
 <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><i class="fa fa-bars"></i> {{goal}} <small>Plan</small></h2>
                 
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="col-xs-2">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                      <li class="active"><a href="#week1" data-toggle="tab">Week 1</a>
                      </li>
                      <li><a href="#week2" data-toggle="tab">Week 2</a>
                      </li>
                      <li><a href="#week3" data-toggle="tab">Week 3</a>
                      </li>
                      <li><a href="#week4" data-toggle="tab">Week 4</a>
                      </li>
                      <li><a href="#foodsheet" data-toggle="tab">Food sheet</a>
                      </li>
                      <li><a href="#suppliment" data-toggle="tab">Suppliments</a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-xs-10">
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="week1">
                        <p class="lead">Week 1</p>
                       <table id="datatable" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Week-1</th>
                              <th>Workout</th>
                              <th>Description</th>
                              <th>No. of Sets</th>
                              <th>No. of Reps</th>
                              <th>Comments</th>
                            </tr>
                          </thead>


                          <tbody>
                            <tr>
                              <td>Day 1</td>
                              <td>System Architect</td>
                              <td>lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              v
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                            </tr>
                            <tr>
                              <td>Day 2</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>63</td>
                              <td>2011/07/25</td>
                              <td>$170,750</td>
                            </tr>
                            <tr>
                              <td>Day 3</td>
                              <td>Junior Technical Author</td>
                              <td>San Francisco</td>
                              <td>66</td>
                              <td>2009/01/12</td>
                              <td>$86,000</td>
                            </tr>
                            <tr>
                              <td>Day 4</td>
                              <td>Senior Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>22</td>
                              <td>2012/03/29</td>
                              <td>$433,060</td>
                            </tr>
                            <tr>
                              <td>Day 5</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>33</td>
                              <td>2008/11/28</td>
                              <td>$162,700</td>
                            </tr>
                            <tr>
                              <td>Day 6</td>
                              <td>Integration Specialist</td>
                              <td>New York</td>
                              <td>61</td>
                              <td>2012/12/02</td>
                              <td>$372,000</td>
                            </tr>
                            <tr>
                              <td>Day 7</td>
                              <td>Sales Assistant</td>
                              <td>San Francisco</td>
                              <td>59</td>
                              <td>2012/08/06</td>
                              <td>$137,500</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                      </div>
                      <div class="tab-pane" id="week2">
                       <p class="lead">Week 2</p>
                       <table id="datatable" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Week-2</th>
                              <th>Workout</th>
                              <th>Description</th>
                              <th>No. of Sets</th>
                              <th>No. of Reps</th>
                              <th>Comments</th>
                            </tr>
                          </thead>


                          <tbody>
                            <tr>
                              <td>Day 1</td>
                              <td>System Architect</td>
                              <td>lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              v
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                            </tr>
                            <tr>
                              <td>Day 2</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>63</td>
                              <td>2011/07/25</td>
                              <td>$170,750</td>
                            </tr>
                            <tr>
                              <td>Day 3</td>
                              <td>Junior Technical Author</td>
                              <td>San Francisco</td>
                              <td>66</td>
                              <td>2009/01/12</td>
                              <td>$86,000</td>
                            </tr>
                            <tr>
                              <td>Day 4</td>
                              <td>Senior Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>22</td>
                              <td>2012/03/29</td>
                              <td>$433,060</td>
                            </tr>
                            <tr>
                              <td>Day 5</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>33</td>
                              <td>2008/11/28</td>
                              <td>$162,700</td>
                            </tr>
                            <tr>
                              <td>Day 6</td>
                              <td>Integration Specialist</td>
                              <td>New York</td>
                              <td>61</td>
                              <td>2012/12/02</td>
                              <td>$372,000</td>
                            </tr>
                            <tr>
                              <td>Day 7</td>
                              <td>Sales Assistant</td>
                              <td>San Francisco</td>
                              <td>59</td>
                              <td>2012/08/06</td>
                              <td>$137,500</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                        </div>
                      <div class="tab-pane" id="week3">
                        <p class="lead">Week 3</p>
                         <table id="datatable" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Week-3</th>
                              <th>Workout</th>
                              <th>Description</th>
                              <th>No. of Sets</th>
                              <th>No. of Reps</th>
                              <th>Comments</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Day 1</td>
                              <td>System Architect</td>
                              <td>lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              v
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                              lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                            </tr>
                            <tr>
                              <td>Day 2</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>63</td>
                              <td>2011/07/25</td>
                              <td>$170,750</td>
                            </tr>
                            <tr>
                              <td>Day 3</td>
                              <td>Junior Technical Author</td>
                              <td>San Francisco</td>
                              <td>66</td>
                              <td>2009/01/12</td>
                              <td>$86,000</td>
                            </tr>
                            <tr>
                              <td>Day 4</td>
                              <td>Senior Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>22</td>
                              <td>2012/03/29</td>
                              <td>$433,060</td>
                            </tr>
                            <tr>
                              <td>Day 5</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>33</td>
                              <td>2008/11/28</td>
                              <td>$162,700</td>
                            </tr>
                            <tr>
                              <td>Day 6</td>
                              <td>Integration Specialist</td>
                              <td>New York</td>
                              <td>61</td>
                              <td>2012/12/02</td>
                              <td>$372,000</td>
                            </tr>
                            <tr>
                              <td>Day 7</td>
                              <td>Sales Assistant</td>
                              <td>San Francisco</td>
                              <td>59</td>
                              <td>2012/08/06</td>
                              <td>$137,500</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>


                      </div>
                      <div class="tab-pane" id="week4">
                         <p class="lead">Week 4</p>
                          <table id="datatable" class="table table-striped table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Week-4</th>
                                      <th>Workout</th>
                                      <th>Description</th>
                                      <th>No. of Sets</th>
                                      <th>No. of Reps</th>
                                      <th>Comments</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Day 1</td>
                                      <td>System Architect</td>
                                      <td>lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                                      lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                                      lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                                      lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                                      v
                                      lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf
                                      lorem ipsum dsfssscdsdsdfsdfsdfsdf dvsfsdf</td>
                                      <td>61</td>
                                      <td>2011/04/25</td>
                                      <td>$320,800</td>
                                    </tr>
                                    <tr>
                                      <td>Day 2</td>
                                      <td>Accountant</td>
                                      <td>Tokyo</td>
                                      <td>63</td>
                                      <td>2011/07/25</td>
                                      <td>$170,750</td>
                                    </tr>
                                    <tr>
                                      <td>Day 3</td>
                                      <td>Junior Technical Author</td>
                                      <td>San Francisco</td>
                                      <td>66</td>
                                      <td>2009/01/12</td>
                                      <td>$86,000</td>
                                    </tr>
                                    <tr>
                                      <td>Day 4</td>
                                      <td>Senior Javascript Developer</td>
                                      <td>Edinburgh</td>
                                      <td>22</td>
                                      <td>2012/03/29</td>
                                      <td>$433,060</td>
                                    </tr>
                                    <tr>
                                      <td>Day 5</td>
                                      <td>Accountant</td>
                                      <td>Tokyo</td>
                                      <td>33</td>
                                      <td>2008/11/28</td>
                                      <td>$162,700</td>
                                    </tr>
                                    <tr>
                                      <td>Day 6</td>
                                      <td>Integration Specialist</td>
                                      <td>New York</td>
                                      <td>61</td>
                                      <td>2012/12/02</td>
                                      <td>$372,000</td>
                                    </tr>
                                    <tr>
                                      <td>Day 7</td>
                                      <td>Sales Assistant</td>
                                      <td>San Francisco</td>
                                      <td>59</td>
                                      <td>2012/08/06</td>
                                      <td>$137,500</td>
                                    </tr>
                                  </tbody>
                                </table>

                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                </div>
              </div>
            </div>





<!-- /page content -->
</div>
{% endblock %}