<!DOCTYPE HTML>
<html>

<head>  
  <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      theme: "theme2",
      title:{
        text: "Weight Progress"
      },
      animationEnabled: true,
      axisX: {
        valueFormatString: "MMM",
        interval:1,
        intervalType: "date"
        
      },
      axisY:{
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
        //lineThickness: 3,        
        dataPoints: [
        { x: new Date({{x0}}), y: {{y0}}},
        { x: new Date({{x1}}), y: {{y1}}},
        { x: new Date({{x2}}), y: {{y2}}},
        { x: new Date({{x3}}), y: {{y3}}},
        { x: new Date({{x4}}), y: {{y4}}}
        // { x: new Date(2012, 01, 1), y: 410},
        // { x: new Date(2012, 02, 1), y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle"},
        // { x: new Date(2012, 03, 1), y: 460 },
        // { x: new Date(2012, 04, 1), y: 450 },
        // { x: new Date(2012, 05, 1), y: 500 },
        // { x: new Date(2012, 06, 1), y: 480 },
        // { x: new Date(2012, 07, 1), y: 480 },
        // { x: new Date(2012, 08, 1), y: 410 , indexLabel: "lowest",markerColor: "DarkSlateGrey", markerType: "cross"},
        // { x: new Date(2012, 09, 1), y: 500 },
        // { x: new Date(2012, 10, 1), y: 480 },
        // { x: new Date(2012, 11, 1), y: 510 }
        
        ]
      }
      
      
      ]
    });

chart.render();
}
</script>
<script type="text/javascript" src="/static/js/canvasjs.min.js"></script></head>
<body>
  <div id="chartContainer" style="height: 300px; width: 50%;">
  </div>

  
</body>

</html>
