{% extends "loggedin_base.html" %}

{% block content %}
<div>
	<center><form action="/bodytracker/" method="post">{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="submit">
	</form></center><br>

	<center><form action="/bodytracker/" method="post">{% csrf_token %}
		{{form2.as_p}}
		<input type="submit" value="submit">
	</form></center><br>

	<center><form action="/bodytracker/" method="post">{% csrf_token %}
		{{form3.as_p}}
		<input type="submit" value="submit">
	</form></center><br>

	<center><form action="/bodytracker/" method="post">{% csrf_token %}
		{{form4.as_p}}
		<input type="submit" value="submit">
	</form></center><br>

	<center><form action="/bodytracker/" method="post">{% csrf_token %}
		{{form5.as_p}}
		<input type="submit" value="submit">
	</form></center><br>
	

</div>




{% endblock %}