
{% if message_biscep %}

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Biscep Progress<small>Graph {{len_biscep}}</small></h2>
          
        <div class="clearfix"></div>
        
      </div>
      <div class="x_content" >
        {{message_biscep}}
      </div>
    </div>
  </div>
{% elif len_biscep == 1 %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Biscep Progress<small>Graph{{len_biscep}}</small></h2>
          
        <div class="clearfix"></div>
        
      </div>
      <div class="x_content" >
        <canvas id="biscepChart1"></canvas>
      </div>
    </div>
  </div>

{% elif len_biscep == 2 %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Biscep Progress<small>Graph{{len_biscep}}</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="biscepChart2"></canvas>
      </div>
    </div>
  </div>

{% elif len_biscep == 3 %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Biscep Progress<small>Graph{{len_biscep}}</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="biscepChart3"></canvas>
      </div>
    </div>
  </div>

{% elif len_biscep == 4 %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Biscep Progress<small>Graph{{len_biscep}}</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="biscepChart4"></canvas>
      </div>
    </div>
  </div>

{% else %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Biscep Progress<small>Graph{{len_biscep}}</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="biscepChart5"></canvas>
      </div>
    </div>
  </div>


{% endif %}





