{% extends "loggedin_base.html" %}

{% block content %}
<div class="row" >


  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Biscep Progress<small>Graph</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="biscepChart"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Chest Progress<small>Graph</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="chestChart"></canvas>
      </div>
    </div>
  </div>


</div>



{% endblock %}

{% block scripts %}

<script>
    Chart.defaults.global.legend = {
      enabled: true
    };
  
  var monthsArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"];
  
  // To convert unformatted date string to custom date string
  var customDate = function(dateString){
    // alert(dateString);
    var d = new Date(dateString);
    return monthsArray[d.getMonth()] + ' '+ d.getDate() + ' '+ d.getFullYear();
  }
  
    // Line chart
    var ctx = document.getElementById("biscepChart");
    var lineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [customDate("{{x4}}"), customDate("{{x3}}"),customDate("{{x2}}"),customDate("{{x1}}"),customDate("{{x0}}")],

        datasets: [{
          label: "Weight",
          backgroundColor: "rgba(38, 185, 154, 0.31)",
          borderColor: "rgba(38, 185, 154, 0.7)",
          pointBorderColor: "rgba(38, 185, 154, 0.7)",
          pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointBorderWidth: 1,
          data: [{{y4}},{{y3}},{{y2}},{{y1}},{{y0}}]
        }, ]
      },
    });


    var customDate1 = function(dateString){
    // alert(dateString);
    var d = new Date(dateString);
    return monthsArray[d.getMonth()] + ' '+ d.getDate() + ' '+ d.getFullYear();
  }
  
    // Line chart
    var ctx = document.getElementById("chestChart");
    var lineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [customDate1("{{a4}}"), customDate1("{{a3}}"),customDate1("{{a2}}"),customDate1("{{a1}}"),customDate1("{{a0}}")],

        datasets: [{
          label: "Weight",
          backgroundColor: "rgba(38, 185, 154, 0.31)",
          borderColor: "rgba(38, 185, 154, 0.7)",
          pointBorderColor: "rgba(38, 185, 154, 0.7)",
          pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointBorderWidth: 1,
          data: [{{b4}},{{b3}},{{b2}},{{b1}},{{b0}}]
        }, ]
      },
    });
</script>


{% endblock %}