
{% if message_shoulder %}

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Shoulder Progress<small>Graph</small></h2>
          
        <div class="clearfix"></div>
        
      </div>
      <div class="x_content" >
        {{message_shoulder}}
      </div>
    </div>
  </div>
{% elif len_shoulder == 1 %}


  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Shoulder Progress<small>Graph</small></h2>
          
        <div class="clearfix"></div>
        
      </div>
      <div class="x_content" >
        <canvas id="shoulderChart1"></canvas>
      </div>
    </div>
  </div>

{% elif len_shoulder == 2 %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Shoulder Progress<small>Graph</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="shoulderChart2"></canvas>
      </div>
    </div>
  </div>

{% elif len_shoulder == 3 %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Shoulder Progress<small>Graph</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="shoulderChart3"></canvas>
      </div>
    </div>
  </div>

{% elif len_shoulder == 4 %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Shoulder Progress<small>Graph</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="shoulderChart4"></canvas>
      </div>
    </div>
  </div>

{% else %}

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Shoulder Progress<small>Graph{{len_shoulder}}</small></h2>
        
          
        <div class="clearfix"></div>
      </div>
      <div class="x_content" >
        <canvas id="shoulderChart5"></canvas>
      </div>
    </div>
  </div>


{% endif %}





